<?php return array(
	'options' => array(
		'tmpFolder' => 'store/zip/here',
		'error-logs' => '/path/to/error-logs.txt',
        'success-logs' => '/path/to/success-logs.txt',
        'conn_type' => 'ftp' //ftp or sftp
        'server' => array(
            'host' => '123.456.789',
            'destination' => 'path/to/storage/dir'
        )
		'ftp' => array(
			'user' => 'user',
			'password' => 'password'
		),
        'sftp' => array(
            'user' => 'nicolas',
            'password' => 'password',
            'pubkey' => '/home/jorge/.ssh/id_rsa_bkp_server.pub',
            'privkey' => '/home/jorge/.ssh/id_rsa_bkp_server.pem'
        )
	),
	'sites' => array(
		'foldername' => array(
			'files' => array(
				'path' => '/path/to/files',
				'exclude' => array(
					'exclude/file/1', 
					'exclude/file/2'
				)
			),
			'database' => array(
				'name' => 'database_name',
				'user' => 'user',
				'password' => 'password'
			),
			'owner' => 'me'
		)
	)
);
